<footer class="relative bg-gray-200 pt-8 pb-6">
  <div class="container mx-auto px-4">
    
    <div class="flex flex-auto text-left lg:text-left">
      <div class="w-full lg:w-6/12 px-4" >
        <img class="h-10 w-36" src="/img/DrovePro.png" alt="drove">
        <h4 id="f1" class="my-5 text-3xl fonat-semibold font-sans text-blueGray-700">The best manager in the cloud!</h4>
        <h5 id="f2" class="text-base font-normal font-sans mt-0 mb-2 text-blueGray-600">The best file manager in the cloud at your disposal.</h5>
        </div>

      

      <div class="w-full lg:w-6/12 px-4">
        <div class="flex flex-auto items-top mb-6 ">
          <div class="w-full lg:w-4/12 px-4 ml-auto space-y-4">
            <span id="enl" class="block uppercase text-blueGray-500 text-sm mr-5 font-sans font-medium mb-2">GitHub Links</span>
            <ul class="list-unstyled space-y-4">
              <li class="flex">
                <img src="/img/gith.png" alt="" class="w-4 h-4 mr-2  ">
                <a class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://github.com/Juancho1s">Github - Juan</a>
              </li>
              <li class="flex">
                <img src="/img/gith.png" alt="" class="w-4 h-4 mr-2  ">
                <a class="text-blueGray-600 hover:text-blueGray-800  font-sans font-medium block pb-2 text-sm" href="https://github.com/TAlexisT">Github - Alexis</a>
              </li>
              <li class="flex">
                <img src="/img/gith.png" alt="" class="w-4 h-4 mr-2  ">
                <a class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://github.com/CesarMLZ">Github - Cesar</a>
              </li>
              <li class="flex">
                <img src="/img/gith.png" alt="" class="w-4 h-4 mr-2  ">
                <a class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://github.com/Alejandro22235">Github - Alejandro</a>
              </li>
            </ul>
          </div>



          <div class="w-full lg:w-4/12 pl-4 pr-2 ml-10 space-y-4">
            <span id="exp" class="block uppercase text-blueGray-500 text-sm font-sans font-medium mb-2">Explore</span>
            <ul class="list-unstyled space-y-4">
              <li class="flex">
                <img src="/img/HOME.png" alt="" class="w-4 h-4 mr-2  ">
                <a id="pri" class="text-blueGray-600 hover:text-blueGray-800  font-sans font-medium block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Home</a>
              </li>
              <li class="flex">
                <img src="/img/about.png" alt="" class="w-4 h-4 mr-2  ">
                <a id="nos" class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">About us</a>
              </li>
              <li class="flex">
                <img src="/img/career.png" alt="" class="w-4 h-4 mr-2  ">
                <a id="car" class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Careers</a>
              </li>
              <li class="flex">
                <img src="/img/capa.png" alt="" class="w-4 h-4 mr-2  ">
                <a id="cap" class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-profile">Capabilities</a>
              </li>
            </ul>
          </div>





          <div class="w-full lg:w-4/12 px-2 space-y-4">
            <span id="vis" class="block uppercase text-blueGray-500 text-sm font-sans font-medium mb-2">Visit</span>
            <ul class="list-unstyled space-y-4">
              <li class="flex">
                <img src="/img/face.png" alt="" class="w-4 h-4 mr-2  ">
                <a class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://www.facebook.com/">Facebook</a>
              </li>
              <li class="flex">
                <img src="/img/insta.png" alt="" class="w-4 h-4 mr-2  ">
                <a class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://www.instagram.com/">Instagram</a>
              </li>
              <li class="flex">
                <img src="/img/tw.png" alt="" class="w-4 h-4 mr-2  ">
                <a class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://twitter.com/">Twitter</a>
              </li>
              <li class="flex">
                <img src="/img/tik.png" alt="" class="w-4 h-4 mr-2  ">
                <a class="text-blueGray-600 hover:text-blueGray-800 font-sans font-medium block pb-2 text-sm" href="https://www.tiktok.com/">Tiktok</a>
              </li>
            </ul>
          </div>



        </div>
      </div>
    </div>
    <hr class="my-6 border-blueGray-300">
    <div class="flex flex-wrap items-center md:justify-between justify-center">
      <div class="w-full md:w-4/12 px-4 mx-auto text-center">
        <div class="text-sm text-blueGray-500 font-semibold font-sans py-1">
          Copyright © <span id="get-current-year">2023 Team Sexylovers</span>
        </div>
      </div>
    </div>
  </div>
</footer>