

<!-- logo -->

<nav class="flex space-x-8 justify-between w-screen bg-white py-3 ">
    <img class="h-12 w-44" src="/img/DrovePro flat - copia.png" alt="">

    <!-- search bar -->

    <form action="Search">


            <input type="text"
            
             name="Search" 

             placeholder="Search"

              aria-label="Search-talk"

               class="px-3 py-2 font-semibold ml-14 rounded-full placeholder-gray-500 text-black border-none ring-2 ring-gray-300 
            focus:ring-gray-500 focus:ring-2 mt-1 font-sans "
            
             style="width: 500px; margin-right: 200px ">

        </div>
    </form>


    <!-- icons -->
    <div class="mt-4 flex space-x-6 ">
        <buton><img class="h-6 w-6" src="/img/question.png" alt=""></buton>
        <buton><img class="h-6 w-6" src="/img/settings.png" alt=""></buton>
        <buton><img src="" alt=""></buton>
    </div>
</nav>