<nav class="flex space-x-11 justify-between">
    <img class="h-12 w-44" src="../public/img/DrovePro flat - copia.png" alt="">
    <div class="border-2 border-black h-9 w-1/3 mt-2 rounded-full flex justify-between " style="margin-right: 500px;">
        <p class="justify-center mt-1 ml-4 text-gray-400">Search</p>
        <img class="h-4 w-4 mt-2 mr-2" src="../public/img/loupe.png" alt="">
    </div>
    <div class="mt-4 flex space-x-6 ">
        <buton><img class="h-6 w-6" src="../public/img/question.png" alt=""></buton>
        <buton><img class="h-6 w-6" src="../public/img/settings.png" alt=""></buton>
        <buton><img src="" alt=""></buton>
    </div>
</nav>