<!-- back -->
<div class="bg-gray-200 w-48 h-96 mt-7 mb-7 ml-7 font-sans flex-col align-middle rounded-md font-medium text-sm flex ">

    <button class="mt-8 pl-4 flex-nowrap inline-flex items-center space-x-2 ">
        <img src="/img/send.png" alt="" class="w-2.5 h-2.5  ">
        <p id="swm">  Shared with me </p>
    </button>

    <button class="pl-4 inline-flex items-center space-x-2 mt-4">
        <img src="/img/cloud-computing.png" alt="" class="w-2.5 h-2.5 ">
        <p id="my">My Unity</p>
    </button>

    <button class="pl-4 inline-flex items-center space-x-2 mt-4">
        <img src="/img/recent.png" alt="" class="w-2.5 h-2.5  ">
        <p id="re">Recent</p>
    </button>

    <button class="ml-4 inline-flex items-center space-x-2 mt-4">
        <img src="/img/star (1).png" alt="" class="w-2.5 h-2.5  ">
        <p id="fe">Featured</p>
    </button>

    <button class="pl-4 inline-flex items-center space-x-2 mt-4">
        <img src="/img/folder.png" alt="" class="w-2.5 h-2.5  ">
        <p id="ifo">Folders</p>
        <img src="/img/down-arrow.png" alt="" class="w-2.5 h-2.5 col-end-1 mt-1 ">
    </button>

</div>


<script src="/Interactions/translat.js"></script>