<div id="contenthi" class="w-screen bg-white border-t  border-gray-300">

  <div class="flex">

    <div class="bg-white flex py-9 w-7/12">

      {{!-- Aqui es la parte superior de la pagina, New, Type File y Last Modification --}}

      <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"
        class="text-black w-48 ml-7 bg-white rounded-md border border-gray-400 hover:bg-gray-300 font-sans focus:outline-none font-medium text-sm px-5 py-2.5 text-center items-center"
        type="button">+ NEW </button>
      <!-- Dropdown menu -->

      <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
          <li>
            <button id="toggleButton"
              class="block px-4 py-2 w-full font-medium font-sans text-black hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Upload
              file</button>
          </li>
          <li>
            <button id="toggleButton1"
              class="block px-4 py-2 w-full font-medium font-sans text-black hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Upload
              folder</button>
          </li>
          <li>
            <button id="toggleButton2"
              class="block px-4 py-2 w-full font-medium font-sans text-black hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Create
              folder</button>
          </li>
        </ul>

      </div>




      <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover"
        class="text-black ml-24 bg-gray-200 hover:bg-gray-300 focus:outline-none focus:ring-blue-300 font-sans font-medium rounded-md text-sm px-5 py-2.5 text-center inline-flex items-center"
        type="button">
        <p id="fil">File Type</p><svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
          fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div id="dropdownHover"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton">
          <li>
            <a href="#"
              class="block font-sans px-4 font-medium text-black py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">PDF</a>
          </li>
          <li>
            <a id="folt" href="#"
              class="block font-sans px-4 font-medium text-black py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Folders</a>
          </li>
          <li>
            <a id="fzip" href="#"
              class="block font-sans px-4 font-medium text-black py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Files(zip)</a>
          </li>
          <li>
            <a id="ftxt" href="#"
              class="block font-sans px-4 font-medium text-black py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Files(txt)</a>
          </li>
          <li>
            <a id="fpro" href="#"
              class="block font-sans px-4 font-medium text-black py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Files
              Programming</a>
          </li>
        </ul>
      </div>







      <button id="dropdownHoverButton2" data-dropdown-toggle="dropdownHover2" data-dropdown-trigger="hover"
        class="text-black ml-6 bg-gray-200 hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-blue-300 font-sans font-medium rounded-md text-sm px-5 py-2.5 text-center inline-flex items-center"
        type="button">
        <p id="las">Last Modification</p><svg class="w-2.5 h-2.5 ml-2.5" aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="m1 1 4 4 4-4" />
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div id="dropdownHover2"
        class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
        <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownHoverButton2">
          <li>
            <a id="day" href="#"
              class="block font-sans px-4 font-medium text-black py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">1
              day</a>
          </li>
          <li>
            <a id="week" href="#"
              class="block font-sans px-4 font-medium text-black py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">1
              week</a>
          </li>
          <li>
            <a id="month" href="#"
              class="block font-sans px-4 font-medium text-black py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">1
              month</a>
          </li>
          <li>
            <a id="all" href="#"
              class="block font-sans px-4 font-medium text-black py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">All</a>
          </li>
        </ul>
      </div>

    </div>

    <div class="flex justify-end align-middle mr-7 w-5/12">
      <button id="eng2"
        class="mr-2 bg-transparent hover:bg-gray-200 h-9 text-gray-500 font-sans mt-2 text-base font-normal px-4 rounded"
        onclick="changeLanguage3('en')">English</button>
      <button id="esp2"
        class="bg-transparent hover:bg-gray-200 text-gray-500 mt-2 h-9 font-sans text-base font-normal px-4 rounded"
        onclick="changeLanguage3('es')">Spanish</button>
    </div>

  </div>

  {{!-- Aqui termina la parte superior de la pagina, New, Type File y Last Modification --}}

  {{!-- Aqui inicia la parte intermedia de la pagina, la barra lateral y las paginas a mostrar --}}



  <div class="flex">

    {{!-- Aqui se encuentra la barra lateral --}}

    <div class="mb-8">

      {{> left_bar}}

    </div>

    {{!-- Aqui se encuentra donde se van a mostrar las carpetas --}}

    <div class="ml-24 mt-9">

      {{!-- Aqui van a estar los recientes --}}

      <p id="arch" class="text-base font-sans font-medium pb-5">Files</p>

      <div class="space-x-5 flex">

        {{#each filesIn}}


        <div id="contextMenuTrigger" class="fol">

          <a id=""
            class="bg-gray-300 flex align-middle justify-between items-center h-14 w-56 text-black py-2 px-4 rounded hover:bg-gray-500 text-sm font-sans font-medium focus:outline-none"
            href="/home/folder/{{this.path}}">
            {{this.name}}
            <div>
              <img class="rounded-lg" src="/img/imgpdf.png" type="" style="display: inline; width: 35px;;">
            </div>

          </a>

        </div>

        {{!-- Aqui se encuentra el menu desplegable al dar clic derecho en cada una de las carpetas --}}

        <div id="customContextMenu"
          class="hidden absolute bg-white text-sm border rounded-lg font-sans font-medium border-gray-300 shadow-md py-2 w-36">
          <div class="flex items-center align-bottom px-4 py-2 hover:bg-gray-100">
            <img src="/img/renom.png" alt="" class="w-4 h-4 mr-2  ">
            <a id="dow" href="#" class=" hover:bg-gray-100">Download</a>
          </div>

          <div class="flex items-center align-bottom px-4 py-2 hover:bg-gray-100">
            <img src="/img/dele.png" alt="" class="w-4 h-4 mr-2  ">
            <button id="toggleButton4" class=" hover:bg-gray-100">Delete</button>
          </div>


        </div>
        {{/each}}

      </div>

      {{!-- Aqui terminan los recientes --}}

      {{!-- Aqui empieza cada una de las carpetas --}}

      <p id="fl" class="text-base font-sans font-medium py-5">Folders</p>


      <div class="space-x-5 flex">



        {{#each foldersIn}}
        

        <div id="contextMenuTrigger1" class="fol1">

          <a id=""
            class="bg-gray-300 flex align-middle justify-between items-center h-14 w-56 text-black py-2 px-4 rounded hover:bg-gray-500 text-sm font-sans font-medium focus:outline-none focus:ring-2"
            href="/home/folder/{{this.path}}">
            {{this.name}}
            <div>
              <img src="../img/folder.png" type="" style="display: inline; width:26px;">
            </div>

          </a>

        </div>



        {{!-- Aqui se encuentra el menu desplegable al dar clic derecho en cada una de las carpetas --}}
        <div id="customContextMenu1"
          class="hidden absolute bg-white text-sm border rounded-lg font-sans font-medium border-gray-300 shadow-md py-2 w-36">

          <div class="flex items-center align-bottom px-4 py-2 hover:bg-gray-100">
            <img src="/img/dele.png" alt="" class="w-4 h-4 mr-2  ">
            <button id="toggleButton45" class=" hover:bg-gray-100 block">Delete</button>
          </div>

        </div>

        {{/each}}

      </div>

    </div>

  </div>

</div>

{{!-- Aqui termina la parte intermedia de la pagina, la barra lateral y las paginas a mostrar --}}






{{!-- AQUI EMPIEZA EL BOTON PARA AGREGAR FILE --}}



<div class="content1 hidden w-screen h-screen  items-center justify-center bg-rgba-gray">

  <div class=" w-5/12 h-64 bg-gray-100 rounded-lg flex-col justify-center space-y-5 items-center align-middle">


    <div class=" mt-20 flex justify-center items-center space-x-6">


      <form action="/newfiles" method="post" enctype="multipart/form-data" class="space-x-4">
        
        <input class="rounded-lg w-36 h-10 font-sans px-52" name="fileInput" id="fileInput" type="file">

        <input class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5"
          type="submit" value="Upload">

      </form>


      <button id="cancel1"
        class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5">Cancel</button>



    </div>

    <div id="message" class="h-10 ml-48 font-sans" style="display: none; color: rgb(49, 49, 49);">File loaded
      successfully
    </div>

  </div>

</div>

<script>
  const fileInput = document.getElementById("fileInput");
  const message = document.getElementById("message");

  fileInput.addEventListener("change", () => {
    showMessage();
  });

  function showMessage() {
    message.style.display = "block";
  }
</script>







{{!-- AQUI EMPIEZA EL BOTON PARA AGREGAR FOLDER --}}




<div class="content2 w-screen h-screen hidden items-center justify-center bg-rgba-gray">

  <div class="w-5/12 h-64 bg-gray-300 rounded-lg ">
    <div class="px-52">
      <input class="rounded-lg w-32 h-10 mt-10 font-sans" id="fileInput1" type="file" webkitdirectory directory multiple>
    </div>
    
    <div class="flex align-bottom justify-center space-x-4 mt-8">
      <button
        class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5 text-center items-center">Upload</button>
      <button id="cancel2"
        class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5 text-center items-center">Cancel</button>
    </div>

    <div id="message1" class="h-10 ml-48 mt-6 font-sans" style="display: none; color: rgb(49, 49, 49);">Folder loaded
      successfully
    </div>
  </div>

</div>

<script>
  const fileInput1 = document.getElementById("fileInput1");
  const message1 = document.getElementById("message1");

  fileInput1.addEventListener("change", () => {
    showMessage1();
  });

  function showMessage1() {
    message1.style.display = "block";
  }
</script>






<div class="content3 w-screen h-screen hidden items-center justify-center bg-rgba-gray">

  <div class="w-5/12 h-64 bg-gray-300 rounded-lg ">
    <div class="px-36">
      <input type="text" class="rounded-lg w-72 h-10 mt-10 font-sans">
    </div>
    <div class="flex align-bottom justify-center space-x-4 mt-8">
      <button
        class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5 text-center items-center">Upload</button>
      <button id="cancel3"
        class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5 text-center items-center">Cancel</button>
    </div>
  </div>

</div>




<div class="content4 w-screen h-screen hidden items-center justify-center bg-rgba-gray font-sans">

  <div class="w-5/12 h-64 bg-gray-300 rounded-lg ">
    <div class="text-center space-y-4 pt-6">
      <p class="font-semibold text-2xl">DELETE</p>
      <p class="font-medium">Are you sure you want to delete this folder?</p>
    </div>
    <div class="flex align-bottom justify-center space-x-4 mt-8">
      <button
        class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5 text-center items-center">Delete</button>
      <button id="cancel4"
        class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5 text-center items-center">Cancel</button>
    </div>
  </div>

</div>





<div class="content5 w-screen h-screen hidden items-center justify-center bg-rgba-gray font-sans">

  <div class="w-5/12 h-64 bg-gray-300 rounded-lg ">
    <div class="text-center space-y-4 pt-6">
      <p class="font-semibold text-2xl">DELETE</p>
      <p class="font-medium">Are you sure you want to delete this file?</p>
    </div>
    <div class="flex align-bottom justify-center space-x-4 mt-8">
      <button
        class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5 text-center items-center">Delete</button>
      <button id="cancel5"
        class="text-black bg-gray-400 rounded-md border border-gray-500 hover:bg-gray-500 font-sans font-medium text-sm px-4 py-1.5 text-center items-center">Cancel</button>
    </div>
  </div>

</div>







<script src="/Interactions/RightClick.js"></script>
<script src="/Interactions/hiddenFile.js"></script>
<script src="/Interactions/cancelBut.js"></script>
<script src="/Interactions/hiddenFolder.js"></script>
<script src="/Interactions/createFolder.js"></script>
<script src="/Interactions/deleteFF.js"></script>