<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="/img/DroveProIcon.svg" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.css" rel="stylesheet" />
    
    <title>{{title}}</title>
</head>

<body class="font-mono font-bold divide-black relative w-max overflow-x-hidden min-h-screen">

   
        {{#if stay}}
        {{> header }}
        {{/if}}
   


    <div>
        {{{body}}}
    </div>

    
        {{#if stay}}
        {{> footer }}
        {{/if}}
   



    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
    <script src="/Interactions/translat.js"></script>
</body>

</html>