<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="shortcut icon" href="../img/DroveProIcon.svg" />
    <title>{{title}}</title>
</head>
<body class="font-mono font-bold divide-black bg-slate-300 min-h-screen">
    {{> header }}

<<<<<<< Updated upstream
    <div class="py-12">{{{body}}}</div>
=======
    <div class="py-14">{{{body}}}</div>
>>>>>>> Stashed changes

    

    {{> footer }}
</body>
</html>
    
