<div>
    <a
        href="">
            <button
                class="">
            </button>
    </a>
</div>

<div class="max-w-md w-full mx-auto bg-white rounded-md py-10 px-10">
    <div class="flex justify-center">
        <img class="w-52" src="../img/DrovePro.png" alt="drove" />
    </div>

    <form class="space-y-4 mt-8">
        <div>
            <label for="username" class="block text-sm font-semibold text-black font-sans">Username</label>
            <input type="text" id="username" name="username" class="h-9 w-full rounded-md border border-gray-500" />
        </div>
        <div>
            <label for="password" class="block text-sm font-semibold text-black font-sans">Email</label>
            <input type="password" id="password" name="password" class="h-9 w-full rounded-md border border-gray-500" />
        </div>
        <div>
            <label for="password" class="block text-sm font-semibold text-black font-sans">Password</label>
            <input type="password" id="password" name="password" class="h-9 w-full rounded-md border border-gray-500" />
        </div>
        <div>
            <button type="submit"
                class="w-full flex justify-center py-2 px-4 font-sans border border-transparent rounded-md shadow-sm text-sm font-semibold text-white bg-black hover:bg-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500">
                REGISTER
            </button>
        </div>
        <div>
            <a class="w-full flex justify-center font-sans py-2 px-4 text-sm font-semibold text-gray-700" href="http://localhost:3000/login">LOGIN</a>
           
        </div>

        <!-- Agrega los botones de inicio de sesión con Google, Facebook y Apple aquí -->
        <div class="flex justify-center">
            <div>
                <a href="https://myaccount.google.com/">
                
                    <button
                        class="w-30 bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-500 text-sm font-sans font-medium focus:outline-none focus:ring-2 focus:ring-red-600">
                        
                        <img src="../img/icongoogle.svg" type="" style="display: inline; width:26px;">
                        Google
                    </button>
                </a>

                <a
                    href="https://facebook.com">
                    <button
                        class="w-30 bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-500 text-sm font-sans font-medium focus:outline-none focus:ring-2 focus:ring-blue-600">
                        <img src="../img/iconfacebook.svg" type="" style="display: inline; width:26px;">
                        Facebook
                    </button>
                </a>
            </div>


        </div>
        <div class="flex justify-center">
            <a
                href="https://appleid.apple.com/auth/authorize?client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI&response_type=code&scope=name%20email">
                <button
                    class="w-30 bg-gray-300 text-black py-2 px-4 rounded hover:bg-gray-500 text-sm font-sans font-medium focus:outline-none focus:ring-2 focus:ring-gray-800">
                    <img src="../img/iconapple.svg" type="" style="display: inline; width:26px;">
                    Apple
                </button>
            </a>
        </div>


    </form>
</div>
<div>
    <a
        href="">
            <button
                class="">
            </button>
    </a>
</div>