<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <title>Document</title>
</head>
<body>

    <!-- back -->
    <div class="bg-gray-200 w-32 h-96 mt-36 ml-4 font-sans flex-col align-middle font-medium text-xs flex ">
        
        <button class="mt-8 pl-4 flex-nowrap inline-flex items-center space-x-2 " >
            <img src="../public/img/send.png" alt="" class="w-2.5 h-2.5  " >
            <p> Shared with me </p>
        </button>

        <button class="pl-4 inline-flex items-center space-x-2 mt-4">
            <img src="../public/img/cloud-computing.png" alt="" class="w-2.5 h-2.5 ">
           <p>My Unity</p> 
        </button>

        <button class="pl-4 inline-flex items-center space-x-2 mt-4">
            <img src="../public/img/recent.png" alt=""class="w-2.5 h-2.5  ">
            <p>Recent</p>
        </button>

        <button class="ml-4 inline-flex items-center space-x-2 mt-4">
            <img src="../public/img/star (1).png" alt=""class="w-2.5 h-2.5  ">
            <p>Featured</p>
        </button>

        <button class="pl-4 inline-flex items-center space-x-2 mt-4">
            <img src="../public/img/folder.png" alt=""class="w-2.5 h-2.5  ">
            <p>Folders</p>
            <img src="../public/img/down-arrow.png" alt="" class="w-2.5 h-2.5 col-end-1 mt-1 ">
        </button>

    </div>

</body>